.gray {
    color: gray;
    margin: 0;
    margin-bottom: 8px;
}

.fat {
    font-weight: 700;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    overflow: hidden;
    max-width: 244px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.avatar {
    margin-top: 8px;
    border-radius: 50%;
    max-width: 128px;
    background-color: gray;
}

.username {
    font-weight: 700;
    font-size: larger;
}

.tag {
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid darkgrey;
    background-color: lightgray;

    li:not(:last-child) {
        border-right: 1px solid darkgrey;
    }
}

.item {
    display: flex;
    flex-direction: column;
    width: 64px;
    padding: 8px;

}

span {
    display: flex;
    justify-content: center;
}