.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 72px;
    border: 2px solid black;
    border-radius: 4px;
}

.name {
    font-size: larger;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.avatar {
    max-width: 64px;
    padding: 4px;
}

.online{
    color: green;
    margin: 0;
    padding: 0;
}

.offline{
    color: red;
    margin: 0;
    padding: 0;
}