.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 280px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    padding: 0 14px;
    background-color: #fff;
    position: relative;
}

.searchInput {
    flex-grow: 1;
    border: none;
    outline: none;
    height: 100%;
    font-size: 16px;
    padding-left: 8px;
    color: #3c4043;
    background-color: transparent;
}

.searchInput::placeholder {
    color: #a6a6a6;
}

.searchButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #3c4043;
    padding-left: 10px;
}

.searchButton:focus {
    outline: none;
}

.pageTitle {
    text-align: center;
    margin: 20px 0;
}

.list {
    columns: 1;
    padding: 0;
}

.item {
    list-style: none;
    max-width: 300px;
    padding: 20px;
    border-radius: 16px;
    margin-right: auto;
    margin-left: auto;
}

.link {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    text-decoration: none;
    color: black;
    text-align: center;

    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
}

.poster {
    max-height: 450px;
    min-width: 300px;
    border-radius: 4px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    text-decoration: none;
    color: black;
    text-align: center;

    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0;
        list-style: none;
    }
    .searchForm{
        max-width: 600px;
    }
}

@media screen and (min-width: 1158px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1452px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }
}